* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

.header-wrapper {
  height: 8vh;
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.body {
  min-height: 100vh;
}

.header {
  width: 60%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 26px -8px rgba(0, 0, 0, 0.75);
}

.header h1 {
  color: white;
  font-size: 18px;
}

.app-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.app {
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-direction: wrap;
  flex-wrap: wrap;
}

.bmi-table {
  width: 500px;
  min-width: 300px;
  height: 500px;
  border: 1px solid black;
  box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.75);
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.bmi-box {
  width: 300px;
  min-width: 300px;
  height: 200px;
  border: 1px solid black;
  box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 1em;
  justify-content: center;
}

.bmi-box p {
  font-size: 20px;
  font-weight: 600;
}

button {
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(172, 172, 172);
  width: 100px;
  padding: 5px 0px;
}

button:hover {
  background-color: rgb(232, 232, 232);
  border: 1px solid rgb(172, 172, 172);
}

button:active {
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(172, 172, 172);
}

footer {
  background-color: black;
  justify-content: center;
  height: 6vh;
  width: 100%;
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 0;
}

label {
  font-size: 12px;
}

::placeholder {
  font-size: 10px;
  padding: 5px;
}

input {
  height: 30px;
}

.input-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

input[type="number"] {
  padding-left: 10px;
}

footer p {
  color: white;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
}

th {
  font-size: 14px;
  background-color: black;
  color: white;
  border: 1px solid black;
  text-align: start;
}

td {
  font-size: 13px;
  font-weight: 600;
}

table {
  width: 90%;
  min-width: 200px;
  border-collapse: collapse;
}

.bmi-t {
  font-weight: 600;
}

.dangerous {
  color: red;
}

.not-good {
  color: orange;
}

.normal {
  color: rgb(1, 171, 1);
}

.att {
  font-size: 12px;
}

a {
  color: white;
}

a:hover {
  color: red;
}

footer p {
  font-size: 12px;
}

.bmi-box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.bmi-box2 {
  background-color: black;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
